
.App {
  box-sizing: border-box;
  position: relative;
  border: solid 10px gray;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

